<mat-card >
  <mat-toolbar color="accent">Cadastrar Cliente</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="min-width">

      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name" #name />
        <mat-hint align="end">{{ name.value.length || 0 }} / 100</mat-hint>
        <mat-error *ngIf="form.get('name')?.invalid">{{
          getErrorMessage("name")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Documento (CPF/CNPJ)" formControlName="document" (input)="onDocumentInput()" #document>
        <mat-error *ngIf="form.get('document')?.invalid">{{
          getErrorMessage("document")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field   class="full-width">
        <input matInput placeholder="Endereço" formControlName="address" #address>
        <mat-hint align="end">{{ address.value.length || 0 }}</mat-hint>
        <mat-error *ngIf="form.get('address')?.invalid">{{
          getErrorMessage("address")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field   class="full-width">
        <input matInput placeholder="Bairro" formControlName="neighborhood" #neighborhood>
        <mat-hint align="end">{{ neighborhood.value.length || 0 }}</mat-hint>
        <mat-error *ngIf="form.get('neighborhood')?.invalid">{{
          getErrorMessage("neighborhood")
          }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Latitude" formControlName="latitude" #latitude>
        <mat-hint align="end">{{ latitude.value.length || 0 }}</mat-hint>
        <mat-error *ngIf="form.get('latitude')?.invalid">{{
          getErrorMessage("latitude")
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Longitude" formControlName="longitude" #longitude>
        <mat-hint align="end">{{ longitude.value.length || 0 }}</mat-hint>
        <mat-error *ngIf="form.get('longitude')?.invalid">{{
          getErrorMessage("longitude")
        }}</mat-error>
      </mat-form-field>

      <div formArrayName="phones">
        <div *ngFor="let phoneControl of phonesArray.controls; let i = index">
          <mat-form-field class="full-width">
            <input matInput
                   [placeholder]="'Telefone ' + (i + 1)"
                   [formControl]="getPhoneControl(i)"
                   (input)="onPhoneInput()">
            <mat-error *ngIf="getPhoneControl(i).invalid">{{ getErrorMessage('phones') }}</mat-error>
          </mat-form-field>
        </div>
      </div>



      <!-- Botão para adicionar mais telefones -->
      <button mat-raised-button color="primary" (click)="addPhone()">Adicionar Telefone</button>


    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
    <button mat-raised-button color="warn" (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="accent" (click)="findCoordinates()">Buscar localização</button>
  </mat-card-actions>
</mat-card>

<mat-card align="center" class="mat-elevation-z4" style="height: 500px">
  <mat-toolbar color="accent">Mapa de localização do Cliente</mat-toolbar>
  <app-map></app-map>
</mat-card>
